.top-bar{
    background-color: #292b2c;
}

.top-bar .menu{
    background-color: #292b2c;
    color: ghostwhite;
}

.menu ul li a, .menu li a{
    color: ghostwhite;
    transition: color 0.5s ease;
}
.menu ul li a:hover, .menu li a:hover{
    color: #1779ba;
}
.button{
    border-radius: 3px;
}

/*---------------------------*/
.zoom-effect img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom-effect:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
    vertical-align: middle;
}
.card{
    margin-bottom: 0;
}